body {
  background-color: rgba(0, 0, 0, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: fit-content;
}

:root {
  --netflix-red: rgb(229, 9, 20);
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}
